.content {
  background: #e4ddb6;
  text-align: center;
  padding: 20px;
}

.title {
  margin: 0 0 20px;
}

.link {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  background: #aaa;
  border: 1px solid black;
  border-radius: 10px;
}

.link:hover {
  opacity: 0.5;
}