.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 50vh;
  }
  
  .notfound__title {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
    color: #000;
    margin: 5px 0 5px;
  }
  
  .notfound__text {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000;
    margin: 0 0 5px;
  }
  
  .notfound__main {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #3456f3;
    margin: auto 0 60px;
    padding: 0;
    border: 0;
    background-color: transparent;
  }
  
  .notfound__main:hover {
    opacity: 0.7;
  }
  
  @media (max-width: 768px) {
    .notfound__title {
      margin: 5px 0 5px;
    }
  
    .notfound__main {
      margin: auto 0 60px;
    }
  }
  
  @media (max-width: 425px) {
    .notfound__title {
      font-size: 80px;
      line-height: 97px;
      margin: 5px 0 10px;
    }
  
    .notfound__text {
      font-size: 12px;
      line-height: 15px;
      margin: 0 0 5px;
    }
  
    .notfound__main {
      font-size: 12px;
      line-height: 15px;
      margin: auto 0 60px;
    }
  }
  