.page {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    background: #e4ddb6;
  }

  .footer {
    min-height: 50px;
    background-color: #e4ddb6;
    margin: auto 0 0;
  }