.editpost {
    padding: 20px;
}

.editpost__title {
    text-align: center;
}

.postform {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
}

.postform__item {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.postform__description {
    display: block;
    width: 100%;
    margin-top: 10px;
    min-height: 180px;
}

.postform__button {
    background: #1976d2;
    color: white;
    border-radius: 4px;
    font-weight: 700;
    padding: 0.75rem 1.5rem;
    border: none;
    margin-top: 40px;
  }

.postform__button:hover {
    opacity: 0.5;
}