.navbar {
  max-width: 1240px;
  background: #e4ddb6;
}

.navbar__content {
  text-align: center;
  padding: 20px;
}

.navbar__title {
  color: white;
  margin: 0;
}

.navbar__link {
  text-decoration: none;
  color: rgb(25, 23, 23);
}

.navbar__link:hover {
  opacity: 0.5;
}



.navbar__links {
  display: flex;
}
